# Configure as credenciais do Gmail e do Outlook para envio de emails
GMAIL_USER=seu-email@gmail.com
GMAIL_PASS=sua-senha-ou-app-password
OUTLOOK_USER=seu-email@outlook.com
OUTLOOK_PASS=sua-senha

# Configure Supabase
SUPABASE_URL=https://ktgralyurreenygkwszk.supabase.co
SUPABASE_ANON_KEY=seu-supabase-anon-key
SUPABASE_SERVICE_KEY=sua-supabase-service-role-key

PORT=3000
